@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 3px;
    box-sizing:border-box;
}
body{
    font-family: "Poppins", sans-serif;
    padding-right: 20px;
    display: flex;
    flex-direction: column ;
    width: 100%;
    overflow-x: hidden;
}

.box{
    display: flex;
}

/* HEADER */

header{
    padding-bottom: 0px;
}



header .navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .navbar .menu{
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    justify-content: left;
}

header .navbar .logo-sitio{
    display: flex;
    align-self: center;
    justify-content: center;

}

header .logo-sitio img{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 10%;
    height: 50%;
}

header .navbar .buscador{
    display: flex;
    justify-content: right;
    align-items: center;
}

header .navbar{
    display: flex;
    flex-wrap: nowrap;
}


header section .catalogo{
    display: flex;
    list-style: none;
    align-self: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    margin-bottom: 0px;
}

header section .catalogo a{
    color: black;
}

header .catalogo-section{
    padding-bottom: 0px;
}


/* FINAL HEADER */

/* IMAGENES HOME */

.knu{
    background-image: url("../assets/img/VANS/KNU.png");
    height: 200px;
}

.classic{
    background-image: url("../assets/img/vans/autentico.webp");
    height: 200px;
}

.chino{
    background-image: url("../assets/img/Vans/Chino/Authentic.jpg");
    height: 200px;
}

.banner{
    width: 100%;
    height: auto;
    object-fit: contain;
    background-position: 10% 59%;
    background-size: cover;

}

.bannerVertical{
    background-image: url("../assets/img/ZAPAS/IMAGEN.jpg");
    width: 30%;
    height: 100%;
    background-position: 10% 59%;
    background-size: cover;
    border: 1px solid black;
}

.vertical-img{
    padding-right: 0px;
}

.imageZapaUno{
    width: 200px;
}

.imageZapaDos{
    width: 200px;
}

.imageZapaTres{
    width: 200px;
}

/* IMAGENES HOME FIN */

/* INDEX MAIN */

main{
    padding-top: 0px;
}

main .banner-section{
    padding-top: 0px;
}

section .title-novedades{
    display: flex;
    justify-content: center;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

section .title-novedades h1{
    font-weight: 700;
}

section .novedades{
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
    justify-items: center;
}

section .novedades img{
    display: grid;
    width: 100%;
    height: 60%;
    justify-content: center;
    border-bottom: 1.5px solid black;
}

section .novedades h3{
    display: grid;
    justify-content: center;
    font-weight: 500;
}

/* INDEX MAIN FINAL */

/* FOOTER */

footer{
    background-color: rgba(0, 0, 0, 0.9);
    color:white;
    border-radius: 20px;
    font-size: smaller;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
}

footer .info-coppy{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.info-empresa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1.5px;
    padding: 1.5px;
}

.info-empresa li{
    display: flex;
    text-align: left;
    color: white;
    list-style: none;
}

.info-empresa li a{
    display: flex;
    text-align: left;
    color: white;
}

.coppy{
    display: flex;
    justify-content: flex-start;
    margin: .0625rem;
    padding: .0625rem;
}

.coppy{
    padding-left: 0;
}


.coppy h5{
    color: white;
    font-size: medium;
    font-weight: 400;
    justify-content: left;
}

.info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-left: auto;
}

.info li{
    list-style: none;
}

.info li a{
    color: white;
}

.info .info-general{
    display: flex;
    flex-direction: column-reverse;
    text-align: end;
}

.info .tarjetas{
    display: flex;
    align-items: center ;
    margin: 0;
    padding: 0;
    list-style: none;
}

.info .tarjetas li{
    display: flex;
    list-style: none;
    display: inline;
    flex-direction: column-reverse;
}

/* FOOTER FIN */

/* PAGE ZAPATILLAS */

main .general-zapatillas{
    display: flex;
    flex-wrap: nowrap;
}

main h1{
    font-size: x-large;
}

main .genero label{
    font-size: small;
    font-weight: 600;
}

main .genero{
    display: flex;
    flex-direction: column;
}

main .genero .genero-input{
    display: block;
}



main .seleccion-talle .genero-talles{
    border-right: 1px solid black;
}

main .general-zapatillas .seleccion-talle .vertical-img img{
    display: flex;
    height: 600px;
    width: auto;
}

main .general-zapatillas .modelos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: contain;
    min-width: 700px;
    gap: 20px;
}


main .general-zapatillas .seleccion-talle .genero .genero-input .boton{
    background-color: black ;
}

/* main .general-zapatillas .modelos{
    display: grid;
    grid-template: repeat(4,1fr) / repeat(3,1fr);
} */

main .general-zapatillas .modelos img{
    width: 200px;
}

main .paginas{
    display: flex;
    justify-content: center;
    align-self: center;
}

.info-compra ul li h2{
    font-size: calc(1.325rem + 1.5vw);
}

/* PAGE ZAPATILLAS FINAL */

/* PAGE COMPRA */

main .compra-proceso .articulo-compra{
    display: flex;
    justify-content: center;
}

.colores{
    display: flex;
}

.colores form{
    display: flex;
}

.talles-compra{
    display: flex;
}

main .compra-proceso article ul li{
    list-style: none;
}

main .compra-proceso article ul{
    padding-left: 0%;
}

main .compra-proceso article .zapas-img{
    display: flex;
    flex-direction: column;
}

main .compra-proceso article .principal img{
    display: flex;
    width: 30vw;
    height: auto;
}

main .compra-proceso article .secundarias img{
    width: 10vw;
    gap: 1px;
}

main .interaccion{
    display: grid;
}

main .interaccion a{
    width: 100%;
}

main .info-compra ul li{
    display: flex;
    flex-wrap: nowrap;
}

main .interaccion a button{
    background-color: rgb(128, 18, 18);
    color: white;
    font-weight: bolder;
    border-radius: 30px;
}

main .interaccion a button{
    width: 100%;
}

.txt-comprar{
    padding: 25px 25px;
    font-size: 3vh;
}

.txt-agregar-al-carrito{
    padding: 20px 20px;
    font-size: 1.5vh;
}

.txt-avisame{
    padding: 17px 17px;
    font-size: 1.2vh;
}

main .interes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* PAGE COMPRA FINAL */

/* PAGE FINALIZA COMPRA */

main .detalles-de-compra h1{
    display: table;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    width: 100%;
}

main .detalles-de-compra table{
    width: 75%;
    margin: 20px 0;
    display: inline-table;
    border-collapse: collapse;
    border: 0;
}

main .detalles-de-compra table th{
    text-align: left;
    padding: 5px 0;
    font-size: small;
}

main .detalles-de-compra table tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

main .detalles-de-compra .detalles-final{
    width: 22%;
    display: inline-table;
    margin: 0 0 0 1%;
    padding: 10px 1%;
}

main .detalles-de-compra .detalles-final .total-articulos{
    width: 96%;
    padding: 15px 2%;
    margin: 10px 0 0;
}

main .detalles-de-compra .detalles-final .total-articulos .articulos{
    display: flex;
}

main .detalles-de-compra .detalles-final .total-articulos .total{
    display: flex;
}

main .detalles-de-compra .detalles-final .total-articulos .descuento{
    display: flex;
}

main .detalles-de-compra .detalles-final .total-articulos .descuento h4{
    font-size: medium;
}

main .interaccion-fin a button{
    background-color: rgb(128, 18, 18);
    color: white;
    font-weight: bolder;
    border-radius: 15px;
}

main .interaccion-fin a button{
    width: 100%;

}

main .interaccion-fin a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .interes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* FIN SECCION FINALIZA COMPRA */

/* SECCION SOPORTE */

main .main{
    padding: 40px;
}

main .soporte{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main .soporte select{
    background-color: rgb(128, 18, 18);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

main h2{
    display: table;
    text-transform: uppercase;
    width: 100%;
}

main section .form{
    justify-content:space-between ;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    max-width: 600px;
}

main section .form .formulario{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
    height: 100%;
    max-width: 600px;
}

main section .form .formulario h3{
    font-size: x-large;
}


main section .form .formulario label{
    width: 34%;
    display: inline-block;
    line-height: 14px;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

main section .form .formulario input{
    padding: 2px 0;
    height: auto;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-indent: 5px;
    border-color: rgb(232, 232, 232);
}


main section .form .formulario select{
    border-color: rgb(232, 232, 232);
}

main section .form .formulario textarea{
    padding: 8px 0;
    display: inline-block;
    width: 65%;
    font-size: 16px;
    text-indent: 5px;
    border-color: rgb(232, 232, 232);
}

main section .form .formulario .nombre{
    display: flex;
    align-items: center;
    text-indent: 5px;
}
main section .form .formulario .apellido{
    display: flex;
    align-items: center;
    text-indent: 5px;
}

main section .form .formulario .mail{
    display: flex;
    align-items: center;
    text-indent: 5px;
}

main section .form .formulario .telefono{
    display: flex;
    align-items: center;
    text-indent: 5px;
}

main section .form .formulario .zona{
    display: flex;
    align-items: center;
}

main section .form .formulario .mensaje{
    display: flex;
    align-items: center;
    text-indent: 5px;
}

main section .form .formulario .archivo{
    display: flex;
    align-items: center;
    text-indent: 5px;
}

main section .form .formulario a button{
    width: 160px;
    background-color: rgb(128, 18, 18);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding: 20px 20px;
}

main section .form .formulario a{
    width: 20%;
    padding: 15px 0;
    height: auto;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 0 10px 100%;
}

main .envio{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 70px;
}

main .info-envio{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main .info-envio p{
    font-size: larger;
}

main .envio h1{
    font-weight: 700;
}

main .info-envio button{
    background-color: rgb(128, 18, 18);
    color: white;
    border-color: rgb(128, 18, 18);
    border-radius: 10px;
    width: 350px;
}

@media (min-width: 2560px){
    main .general-zapatillas .modelos{
        display: grid;
        grid-template: repeat(7,1fr) / repeat(6,1fr);
        justify-items: flex-start;
        grid-gap: auto;
    }
}

@media (min-width: 1920px){
    main .general-zapatillas .modelos{
        display: grid;
        grid-template: repeat(6,1fr) / repeat(5,1fr);
        justify-items: flex-start;
        grid-gap: auto;
    }
}

@media (max-width: 768px){
/* INDEX INICIO */
*{
    margin: 2px;
    padding: 1px;
    box-sizing: border-box;
}
    html, body {
        width: 100%!important;
        overflow-x: hidden!important;
    }
header .navbar .menu svg{
        width: 30px;
        height: 30px;
    }
    header .navbar svg{
        width: 20px;
        height: 20px;
    }
    header .logo-sitio img{
        display: flex;
        align-self: center;
        justify-self: center;
        width: 15%;
        height: 50%;
    }
    header section .catalogo{
        display: flex;
        list-style: none;
        align-self: center;
        justify-content: center;
        font-weight: 650;
        font-size: small;
    }
    .banner{
        background-image: url("../assets/img/vans-banner-posta.jpg");
        width: 100%;
        height: 150px;
        background-position: 10% 59%;
        background-size: cover;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.9);
        color:white;
        font-size: x-small;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        flex-wrap: nowrap;
    }
    .coppy ul li h5{
        color: white;
        font-size: xx-small;
        font-weight: 400;
        justify-content: left;
    }
    .info .tarjetas li svg{
        width: 25px;
        height: 25px;
    }
    .info .tarjetas {
        margin: 0px;
        padding: 0px;
        list-style: none;
        justify-content:right;
    }
    section .novedades img{
        display: grid;
        width: 85%;
        height: 45%;
        justify-content: center;
        align-items: center;
    }
    
    section .novedades h3{
        display: grid;
        justify-content: center;
        font-weight: 500;
        font-size: larger;
        align-items: center;
    }
    section .title-novedades h1{
        font-weight: 600;
        font-size:x-large ;
    }
    /* INDEX FINAL */
    /* ZAPATILLAS */
    main .general-zapatillas{
        display: flex;
        flex-wrap: nowrap;
    }
    
    main .general-zapatillas .seleccion-talle .vertical-img img{
        display: flex;
        height: 250px;
        width: auto;
    }
    
    main .general-zapatillas .modelos{
        display: flex;
        flex-direction: column;
        margin: 5px;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: contain;
        min-width: 700px ;
    }
    
    main .general-zapatillas .modelos{
        display: grid;
        grid-template: repeat(1,1fr) / repeat(2,1fr);
        justify-items: flex-start;
        grid-gap: auto;
    }

    main .general-zapatillas .modelos img{
        width: 150px;
        margin: 1px;
    }
    main .general-zapatillas .seleccion-talle h1{
        font-size: 25px ;
    }

    main .general-zapatillas .modelos h3{
        font-size: large;
    }
    
    main .general-zapatillas .modelos h5{
        font-size: small;
    }
    main .paginas{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    /* DATOS ENVIADOS INICIO */
    main .envio{
        justify-content: center;
        align-items: center;
    }
    main .envio h1{
        font-size: x-large;
    }
    main .info-envio{
        justify-content: center;
        align-items: center;
    }
    main .info-envio{
        font-size: small;
        justify-content: center;
        text-align: center;
    }
    main .info-envio a{
        padding-bottom: 50px;
    }
    /* DATOS ENVIADOS FINAL */
}


@media (max-width: 426px){
    *{
        margin: 0.5px;
        padding: 0.5px;
        box-sizing: border-box;
    }
    html, body {
        width: 100%!important;
        overflow-x: hidden!important;
    }
    header .navbar .lupa{
        display: none;
    }
    header .navbar .menu svg{
        width: 25px;
        height: 25px;
    }
    header .navbar svg{
        width: 20px;
        height: 20px;
    }
    header .logo-sitio img{
        display: flex;
        align-self: center;
        justify-self: center;
        width: 20%;
        height: 50%;
    }
    header section .catalogo{
        display: flex;
        list-style: none;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: small;
    }
    .banner{
        background-image: url("../assets/img/vans-banner-posta.jpg");
        width: 100%;
        height: 5rem;
        background-position: 10% 59%;
        background-size: cover;
    }
    section .title-novedades h1{
        font-weight: 800;
        font-size:medium ;
    }
    section .novedades h3{
        display: grid;
        justify-content: center;
        font-weight: 700;
        font-size: x-small;
        align-items: center;
    }
    section .novedades{
        display: grid;
        grid-template: repeat(1,1fr) / repeat(2,1fr);
        justify-items: center;
    }
    section .novedades img{
        display: grid;
        width: 95%;
        height: 55%;
        justify-content: center;
        align-items: center;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.9);
        color:white;
        border-radius: 15px;
        font-size: xx-small;
        display: flex;
        justify-content: flex-end;
        height: 80%;
        width: 100%;
        flex-wrap: nowrap;
    }
    .coppy ul li h5{
        color: white;
        font-size:10px;
        font-weight: 400;
        justify-content: left;
    }
    .info .tarjetas li svg{
        width: 10px;
        height: 10px;
    }
    .info .tarjetas{
        justify-content:right;
        padding: 0;
        margin: 0;
    }
    .info-coppy{
        display: flex;
        justify-content: right;
    }
    .info .info-general li a{
        font-size: 7px;
    }
    .info-coppy .info-empresa li a{
        font-size: 7px;
    }
    .info-coppy .info-empresa li {
        font-size: 7px;
    }
    /* ZAPATILLAS */
    main .general-zapatillas{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    main .general-zapatillas .seleccion-talle .vertical-img img{
        display: none;
    }
    
    main .general-zapatillas .modelos{
        display: flex;
        flex-direction: column;
        margin: 5px;
        flex-wrap: wrap;
        object-fit: contain;
        min-width: 700px ;
    }
    
    main .general-zapatillas .modelos{
        display: grid;
        grid-template: repeat(1,1fr) / repeat(1,1fr);
        justify-items: center;
        grid-gap: auto;
    }

    main .general-zapatillas .modelos img{
        width: 200px;
        margin: 1px;
    }
    main .general-zapatillas .seleccion-talle h1{
        font-size: 25px ;
    }

    main .general-zapatillas .modelos h3{
        font-size: medium;
    }
    
    main .general-zapatillas .modelos h5{
        font-size: small;
    }
    main .paginas{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    /* Datos enviados incio */
    main .envio{
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    main .envio h1{
        font-size: large;
    }
    main .info-envio{
        justify-content: center;
        align-items: center;
    }
    main .info-envio{
        font-size: x-small;
        justify-content: center;
        text-align: center;
    }
    main .info-envio a{
        padding-bottom: 50px;
    }
    main .info-envio a button{
        width: 150px;
    }
}

@media (max-width: 320px){
    *{
        padding: 0%;
        margin: 1px;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        overflow-x: hidden;
    }
    header .navbar .lupa{
        display: none;
    }
    header .logo-sitio img{
        display: flex;
        align-self: center;
        justify-self: center;
        width: 20%;
        height: 50%;
    }
    header .navbar .menu svg{
        width: 15px;
        height: 15px;
    }
    header .navbar svg{
        width: 15px;
        height: 15px;
    }
    header section .catalogo{
        display: flex;
        list-style: none;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: 11px;
    }
    .banner{
        background-image: url("../assets/img/vans-banner-posta.jpg");
        width: 100%;
        height: 4rem;
        background-position: 10% 59%;
        background-size: cover;
    }
    section .title-novedades h1{
        font-weight: 800;
        font-size:medium ;
    }
    section .novedades h3{
        display: grid;
        justify-content: center;
        font-weight: 700;
        font-size: xx-small;
        align-items: center;
    }
    section .novedades img{
        display: grid;
        width: 95%;
        height: 55%;
        justify-content: center;
        align-items: center;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.9);
        color:white;
        border-radius: 5px;
        font-size: xx-small;
        display: flex;
        justify-content: flex-end;
        height: 30vb;
        width: 100%;
        flex-wrap: nowrap;
    }
    .coppy ul li h5{
        color: white;
        font-size:8px;
        font-weight: 300;
        display: flex;
        text-align: left;
        margin: 0px;
    }

    .info-coppy .coppy{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .info .tarjetas{
        justify-content: right;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }
    .info .tarjetas svg{
        width: 20px;
        height: 20px;
    }
    .info .info-general li a{
        font-size: 10px;
        font-weight: 500;
    }
    .info-coppy .info-empresa li a{
        font-size: 10px;
        font-weight: 500;
    }
    .info-coppy .info-empresa li {
        font-size: 10px;
    }
    /* Seccion zapatillas */
    main .general-zapatillas{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    main .general-zapatillas .seleccion-talle .vertical-img img{
        display: none;
    }
    main .general-zapatillas .modelos{
        display: grid;
        grid-template: repeat(1,1fr);
        justify-items: center;
        grid-gap: auto;
    }
    main .general-zapatillas .modelos

    main .general-zapatillas .modelos img{
        width: 300px;
        margin: 1px;
    }
    main .general-zapatillas .seleccion-talle h1{
        font-size: 25px ;
    }

    main .general-zapatillas .modelos h3{
        font-size: medium;
    }
    
    main .general-zapatillas .modelos h5{
        font-size: small;
    }
    main .paginas{
        display: flex;
        justify-content: center;
        align-self: center;
        gap: 15px;
    }
    /* Datos envio inicio */
    main .envio{
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    main .envio h1{
        font-size: small;
    }
    main .info-envio{
        justify-content: center;
        align-items: center;
    }
    main .info-envio{
        font-size: xx-small;
        justify-content: center;
        text-align: center;
    }
    main .info-envio a{
        padding-bottom: 30px;
    }
    main .info-envio a button{
        width: 100px;
    }
}
