/**ultilities*/
/**base*/
* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none !important;
  color: black; }

.box {
  display: flex; }

/**layouts*/
header {
  padding-bottom: 0px; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap; }
    header .navbar .buscador {
      display: flex;
      flex-direction: none;
      align-items: none;
      justify-content: right;
      margin: none;
      padding: none;
      text-align: none;
      flex-wrap: none;
      padding-left: none;
      margin-left: none; }
    header .navbar .logo-sitio {
      display: flex;
      justify-content: flex-start;
      width: 20%; }
      header .navbar .logo-sitio img {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 10vw; }
    header .navbar .menu {
      display: flex;
      align-self: flex-start;
      justify-self: flex-start;
      justify-content: left; }
    header .navbar .nav-vicky {
      display: flex;
      flex-direction: none;
      align-items: center;
      justify-content: right;
      margin: none;
      padding: none;
      text-align: none;
      flex-wrap: none;
      padding-left: none;
      margin-left: none; }
    header .navbar .nav-fixed {
      display: flex;
      flex-direction: none;
      align-items: center;
      justify-content: none;
      margin: none;
      padding: none;
      text-align: none;
      flex-wrap: none;
      padding-left: none;
      margin-left: none; }
      header .navbar .nav-fixed form {
        margin-top: 0px !important; }
  header .catalogo-section {
    padding-bottom: 0px; }
    header .catalogo-section .catalogo {
      display: flex;
      list-style: none;
      align-self: center;
      justify-content: center;
      font-weight: bold;
      font-size: large;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin-bottom: 0px; }
      header .catalogo-section .catalogo a {
        color: black; }

footer {
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: smaller;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap; }
  footer .info-coppy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: none;
    padding: none;
    text-align: none;
    flex-wrap: none;
    padding-left: none;
    margin-left: none; }
    footer .info-coppy .info-empresa {
      display: flex;
      flex-direction: column;
      align-items: none;
      justify-content: flex-start;
      margin: 1.5px;
      padding: 1.5px;
      text-align: none;
      flex-wrap: none;
      padding-left: none;
      margin-left: none; }
      footer .info-coppy .info-empresa li {
        display: flex;
        text-align: left;
        color: white;
        list-style: none; }
        footer .info-coppy .info-empresa li a {
          display: flex;
          text-align: left;
          color: white; }
    footer .info-coppy .coppy {
      display: flex;
      flex-direction: none;
      align-items: none;
      justify-content: flex-start;
      margin: 0.0625rem;
      padding: 0.0625rem;
      text-align: 0;
      flex-wrap: none;
      padding-left: none;
      margin-left: none; }
      footer .info-coppy .coppy h5 {
        color: white;
        font-size: medium;
        font-weight: 400;
        justify-content: left; }
  footer .info {
    display: flex;
    flex-direction: column-reverse;
    align-items: none;
    justify-content: flex-end;
    margin: none;
    padding: none;
    text-align: none;
    flex-wrap: none;
    padding-left: none;
    margin-left: auto; }
    footer .info li {
      list-style: none; }
      footer .info li a {
        color: white; }
    footer .info .info-general {
      display: flex;
      flex-direction: column-reverse;
      align-items: none;
      justify-content: none;
      margin: none;
      padding: none;
      text-align: end;
      flex-wrap: none;
      padding-left: none;
      margin-left: none; }
    footer .info .tarjetas {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none; }
      footer .info .tarjetas li {
        display: flex;
        list-style: none;
        display: inline;
        flex-direction: column-reverse; }

.grid {
  padding-top: 0px; }
  .grid .banner-section {
    padding-top: 0px; }
    .grid .banner-section .carousel-inner img {
      width: 100%;
      height: 22vw; }
    .grid .banner-section .banner {
      width: 100%;
      height: 300px;
      object-fit: contain;
      background-size: cover;
      margin-top: 6px; }
    .grid .banner-section .title-novedades {
      display: flex;
      text-align: center;
      justify-content: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
      .grid .banner-section .title-novedades h1 {
        font-weight: 700;
        margin-bottom: 0px; }
    .grid .banner-section .novedades {
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
      justify-items: center; }
      .grid .banner-section .novedades a img {
        display: grid;
        width: 100%;
        height: 60%;
        justify-content: center;
        border-bottom: 1px solid black; }
      .grid .banner-section .novedades h2 {
        display: grid;
        text-align: center;
        font-weight: 500;
        font-size: x-large; }

main .general-zapatillas {
  display: flex;
  flex-wrap: nowrap; }
  main .general-zapatillas .seleccion-talle .vertical-img img {
    display: flex;
    height: 928px;
    width: auto;
    border: 1px solid black; }
  main .general-zapatillas .seleccion-talle .genero-talles {
    border-right: 1px solid black;
    padding-right: 0px; }
    main .general-zapatillas .seleccion-talle .genero-talles h1 {
      font: large;
      padding-right: 0px; }
    main .general-zapatillas .seleccion-talle .genero-talles .genero {
      display: flex;
      flex-direction: column; }
      main .general-zapatillas .seleccion-talle .genero-talles .genero label {
        font-size: small;
        font-weight: 600; }
      main .general-zapatillas .seleccion-talle .genero-talles .genero .genero-input {
        display: block; }
    main .general-zapatillas .seleccion-talle .genero-talles .talles {
      padding-right: 0px; }
  main .general-zapatillas .modelos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: contain;
    gap: 20px; }
    main .general-zapatillas .modelos article {
      display: grid;
      justify-items: start;
      align-items: center;
      border-bottom: 1px solid #b6b6b6; }
    main .general-zapatillas .modelos img {
      width: 200px; }

main .paginas {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px; }

main .compra-proceso .articulo-compra {
  display: flex;
  flex-direction: none;
  align-items: none;
  justify-content: center;
  margin: none;
  padding: none;
  text-align: none;
  flex-wrap: none;
  padding-left: none;
  margin-left: none; }
  main .compra-proceso .articulo-compra .colores .colores-compra {
    display: flex;
    align-items: center;
    width: 100px; }

main .compra-proceso article ul {
  padding-left: 0%; }
  main .compra-proceso article ul li {
    list-style: none; }

main .compra-proceso article .zapas-img {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-right: 1.5px solid black; }

main .compra-proceso article .principal img {
  display: flex;
  width: 30vw;
  max-height: fit-content;
  padding-bottom: 100px;
  padding-top: 50px; }

main .compra-proceso article .secundarias {
  border-top: 1.5px solid black; }
  main .compra-proceso article .secundarias img {
    width: 10vw;
    gap: 10px;
    border-right: 1px solid black; }

main .compra-proceso .info-compra {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  margin: none;
  padding: none;
  text-align: none;
  flex-wrap: none;
  padding-left: none;
  margin-left: none; }
  main .compra-proceso .info-compra select {
    font-size: small;
    width: 50px;
    height: fit-content; }
  main .compra-proceso .info-compra h1 {
    font-size: xx-large; }
  main .compra-proceso .info-compra h2 {
    font-size: 20px; }
  main .compra-proceso .info-compra ul li {
    display: flex;
    flex-wrap: nowrap; }
  main .compra-proceso .info-compra .talles-compra {
    display: flex;
    align-items: center;
    gap: 10px; }

main .compra-proceso .interaccion {
  display: grid; }
  main .compra-proceso .interaccion a {
    width: 100%; }

main .tmb {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black; }
  main .tmb h2 {
    font-size: xx-large;
    font-weight: 500; }

main .interes {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-around;
  margin: none;
  padding: none;
  text-align: none;
  flex-wrap: none;
  padding-left: none;
  margin-left: none; }
  main .interes h5 {
    font-size: medium; }

main .detalles-de-compra h1 {
  display: table;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  width: 100%; }

main .detalles-de-compra img {
  width: 150px; }

main .detalles-de-compra table {
  width: 75%;
  margin: 20px 0;
  display: inline-table;
  border-collapse: collapse;
  border: 0; }
  main .detalles-de-compra table thead {
    border-bottom: 1px solid black; }
  main .detalles-de-compra table tbody {
    border-bottom: 1px solid black; }
  main .detalles-de-compra table th {
    text-align: left;
    padding: 5px 3px;
    font-size: small; }
  main .detalles-de-compra table tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    font-size: small; }

main .detalles-de-compra .detalles-final {
  width: 22%;
  display: inline-table;
  margin: 0 0 0 1%;
  padding-right: 0.5px;
  margin-right: 1px;
  border-left: 1px solid black; }
  main .detalles-de-compra .detalles-final .total-articulos {
    width: 96%;
    padding: 15px 2%;
    margin: 10px 0 0;
    font-size: 14px; }
    main .detalles-de-compra .detalles-final .total-articulos .articulos {
      display: flex; }
    main .detalles-de-compra .detalles-final .total-articulos .total {
      display: flex; }
    main .detalles-de-compra .detalles-final .total-articulos .descuento {
      display: flex; }
      main .detalles-de-compra .detalles-final .total-articulos .descuento input {
        display: flex;
        width: 100px;
        height: 25px;
        padding-left: 1px;
        align-items: center; }

main .interes {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-around;
  margin: none;
  padding: none;
  text-align: none;
  flex-wrap: none;
  padding-left: none;
  margin-left: none; }
  main .interes h5 {
    font-size: medium; }

main .banner {
  padding-top: 0px;
  padding-bottom: 7px;
  border-bottom: 1px solid black; }

main .carousel-inner img {
  width: 100%;
  height: 22vw; }

main .main {
  padding-top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px; }
  main .main .vertical-img-2 img {
    width: 40vw;
    height: auto;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start; }

main h1 {
  display: table;
  font-size: 30px;
  text-transform: uppercase;
  width: 100%; }

main h2 {
  display: table;
  font-size: large;
  text-transform: uppercase;
  width: 100%; }

main .soporte {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid black; }
  main .soporte select {
    background-color: #801212;
    color: white;
    font-weight: bold;
    border-radius: 5px; }

main section .form {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  max-width: 600px; }
  main section .form .formulario {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
    height: 100%;
    max-width: 600px; }
    main section .form .formulario h3 {
      font-size: x-large; }
    main section .form .formulario label {
      width: 100%;
      display: inline-block;
      line-height: 14px;
      font-size: 16px;
      color: black;
      font-weight: 600; }
    main section .form .formulario input {
      padding: 2px;
      height: auto;
      width: 100%;
      font-size: 16px;
      border-color: #e8e8e8;
      justify-content: center; }
    main section .form .formulario select {
      border-color: #e8e8e8;
      width: 100%; }
    main section .form .formulario textarea {
      padding: 8px 0;
      display: inline-block;
      width: 100%;
      font-size: 16px;
      border-color: #e8e8e8; }
    main section .form .formulario .nombre, main section .form .formulario .apellido, main section .form .formulario .mail, main section .form .formulario .telefono, main section .form .formulario .zona, main section .form .formulario .mensaje, main section .form .formulario .archivo {
      display: flex;
      width: 100%;
      align-items: center; }
    main section .form .formulario .txt-enviar {
      width: 100%; }
    main section .form .formulario a {
      width: 20%;
      padding: 15px 0;
      height: auto;
      text-transform: uppercase;
      cursor: pointer;
      margin: 10px 0 10px 100%; }

main .banner {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-size: cover;
  margin-top: 6px; }

main .carousel-inner img {
  width: 100%;
  height: 22vw; }

main .envio {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 70px;
  border-top: 1px solid black; }
  main .envio h1 {
    font-weight: 700; }

main .info-envio {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 25px; }
  main .info-envio p {
    font-size: larger; }

/**components*/
main .interaccion a button {
  background-color: #671717;
  color: white;
  font-weight: bolder;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

main .interaccion-fin a button {
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  backface-visibility: hidden;
  background: #671717;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }

.txt-final:disabled, main .info-envio button:disabled, main .main .form form .txt-enviar a button:disabled {
  color: #787878;
  cursor: auto; }

.txt-final:not(:disabled):hover, main .info-envio button:not(:disabled):hover, main .main .form form .txt-enviar a button:not(:disabled):hover {
  transform: scale(1.02);
  background-color: #671717; }

.txt-final:not(:disabled):hover:active, main .info-envio button:not(:disabled):hover:active, main .main .form form .txt-enviar a button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem); }

.txt-final:focus, main .info-envio button:focus, main .main .form form .txt-enviar a button:focus {
  outline: 0 solid transparent; }

.txt-final:focus:before, main .info-envio button:focus:before, main .main .form form .txt-enviar a button:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none; }

.txt-final:focus:not(:focus-visible), main .info-envio button:focus:not(:focus-visible), main .main .form form .txt-enviar a button:focus:not(:focus-visible) {
  outline: 0 solid transparent; }

.txt-final:not(:disabled):active, main .info-envio button:not(:disabled):active, main .main .form form .txt-enviar a button:not(:disabled):active {
  transform: translateY(0.125rem); }

main .info-envio button {
  background-color: #671717;
  color: white;
  font-weight: bolder;
  padding: 10px 10px;
  border-radius: 25px; }

main .main .form form .txt-enviar a button {
  background-color: #671717;
  color: white;
  font-weight: bolder;
  padding: 10px 10px; }

/**media*/
@media (max-width: 1920px) {
  main .detalles-de-compra table tbody td label {
    display: none; } }

@media (max-width: 1440px) {
  main .detalles-de-compra table tbody td label {
    display: none; } }

@media (max-width: 1024px) {
  main .detalles-de-compra table tbody td label {
    display: none; } }

@media (max-width: 768px) {
  html {
    padding: 1px; }
    html body {
      width: 100% !important;
      overflow-x: hidden !important;
      padding: 1.5px; }
      html body header section .navbar.bg-body-tertiary {
        padding: 0rem 0rem; }
        html body header section .navbar.bg-body-tertiary .logo-sitio {
          width: 100%; }
          html body header section .navbar.bg-body-tertiary .logo-sitio img {
            width: 20vw !important; }
        html body header section .navbar.bg-body-tertiary .nav-fixed form {
          display: none !important; }
        html body header section .navbar.bg-body-tertiary .nav-vicky .cuente {
          display: none; }
        html body header section .navbar.bg-body-tertiary .nav-vicky .carrito {
          display: none; }
        html body header section .navbar.bg-body-tertiary .container-fluid {
          width: auto;
          padding: 0px 0px 0px 0px; }
          html body header section .navbar.bg-body-tertiary .container-fluid .navbar-toggler-icon {
            width: 2rem;
            height: 2rem; }
      html body header .catalogo {
        display: flex;
        padding-left: 0px;
        list-style: none;
        text-align: center;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: 11px; }
    html footer {
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      font-size: x-small;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      flex-wrap: nowrap; }
      html footer .info-coppy .coppy h5 {
        color: white;
        font-size: 10px;
        font-weight: 400;
        justify-content: left; }
      html footer .info .tarjetas {
        margin: 0px;
        padding: 0px;
        list-style: none;
        justify-content: right; }
        html footer .info .tarjetas li svg {
          width: 25px;
          height: 25px; }
  .grid {
    padding: 0px; }
    .grid .banner-section {
      padding: 0px; }
      .grid .banner-section .carousel-inner {
        padding: 0px; }
      .grid .banner-section .banner {
        width: 100%;
        background-position: 10% 59%;
        background-size: cover; }
      .grid .banner-section .title-novedades h1 {
        font-weight: 600;
        font-size: x-large; }
      .grid .banner-section .novedades img {
        display: grid;
        width: 85%;
        height: 45%;
        justify-content: center;
        align-items: center; }
      .grid .banner-section .novedades h3 {
        display: grid;
        justify-content: center;
        font-weight: 500;
        font-size: larger;
        align-items: center; }
  main .general-zapatillas .seleccion-talle h1 {
    font-size: 25px; }
  main .general-zapatillas .seleccion-talle .vertical-img img {
    display: flex;
    height: 600px;
    width: auto; }
  main .general-zapatillas .modelos {
    display: flex;
    justify-items: center;
    grid-gap: 2px; }
    main .general-zapatillas .modelos img {
      width: 150px;
      margin: 1px; }
    main .general-zapatillas .modelos h3 {
      font-size: large; }
    main .general-zapatillas .modelos h5 {
      font-size: small; }
  main .paginas {
    display: flex;
    justify-content: center;
    align-self: center; }
  main .compra-proceso article .principal img {
    display: flex;
    width: 40vw;
    max-height: fit-content;
    padding-bottom: 100px;
    padding-top: 50px; }
  main .compra-proceso article .secundarias img {
    width: 14vw;
    gap: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black; }
  main .interes {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-evenly; }
    main .interes a img {
      width: 9.375rem; }
    main .interes article h3 {
      font-size: larger; }
    main .interes article h5 {
      font-size: small; }
  main .detalles-de-compra table {
    display: inline; }
    main .detalles-de-compra table tbody td p {
      font-size: x-small; }
  main .detalles-de-compra .detalles-final {
    width: 100%;
    border-left: none; }
    main .detalles-de-compra .detalles-final .total-articulos {
      border-bottom: 1px solid black; }
      main .detalles-de-compra .detalles-final .total-articulos span:last-of-type {
        float: right;
        color: #7e1b1b; }
    main .detalles-de-compra .detalles-final .total-articulos-fin {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 25px; }
    main .detalles-de-compra .detalles-final .interaccion-fin {
      display: flex;
      justify-content: center;
      text-align: center; }
  main {
    padding: 0px; }
    main .vertical-img-2 {
      display: none; } }

@media (max-width: 426px) {
  html {
    padding: 1px; }
    html body {
      width: 100% !important;
      overflow-x: hidden !important;
      padding: 1.5px; }
      html body header .navbar {
        padding: 0rem 0rem; }
        html body header .navbar .logo-sitio {
          width: 100%; }
          html body header .navbar .logo-sitio img {
            width: 20vw !important; }
        html body header .navbar .nav-fixed form {
          display: none !important; }
        html body header .navbar .nav-vicky .cuenta {
          display: none; }
        html body header .navbar .nav-vicky .carrito {
          display: none; }
        html body header .navbar .nav-vicky .container-fluid {
          width: auto;
          padding: 0px 0px 0px 0px; }
        html body header .navbar .nav-vicky .navbar-toggler-icon {
          width: 1rem;
          height: 1rem; }
      html body header .catalogo-section .catalogo {
        display: flex;
        padding-left: 0px;
        list-style: none;
        text-align: center;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: 11px; }
  footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    height: 80%;
    width: 100%;
    flex-wrap: nowrap; }
  .grid {
    padding: 0px; }
    .grid .banner-section {
      padding: 0px; }
      .grid .banner-section .carousel-inner {
        padding: 0px; }
      .grid .banner-section .banner {
        padding: 0% 0%; }
      .grid .banner-section .titile-novedades h1 {
        font-weight: 800;
        font-size: medium; }
      .grid .banner-section .novedades {
        display: grid;
        grid-template: repeat(1, 1fr)/repeat(2, 1fr);
        justify-items: center; }
        .grid .banner-section .novedades h3 {
          display: grid;
          justify-content: center;
          font-weight: 700;
          font-size: x-small;
          align-items: center; }
        .grid .banner-section .novedades img {
          display: grid;
          width: 95%;
          height: 55%;
          justify-content: center;
          align-items: center; }
  main .general-zapatillas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
    main .general-zapatillas .modelos {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      grid-gap: auto; }
      main .general-zapatillas .modelos img {
        width: 300px;
        margin: 1px; }
      main .general-zapatillas .modelos h3 {
        font-size: medium; }
      main .general-zapatillas .modelos h5 {
        font-size: small; }
    main .general-zapatillas .seleccion-talle .genero-talles {
      border-right: none; }
    main .general-zapatillas .seleccion-talle h1 {
      font-size: 25px; }
    main .general-zapatillas .seleccion-talle .vertical-img img {
      display: none; }
  main .paginas {
    display: flex;
    justify-content: center;
    align-self: center; }
  main .envio {
    justify-content: center;
    align-items: center;
    padding-top: 30px; }
    main .envio h1 {
      font-size: large; }
  main .info-envio {
    font-size: x-small;
    justify-content: center;
    align-items: center;
    text-align: center; }
    main .info-envio a {
      padding-bottom: 50px; }
      main .info-envio a button {
        width: 150px; }
  main .compra-proceso .articulo-compra {
    display: flex;
    flex-direction: column; }
  main .compra-proceso article .zapas-img {
    border-right: none; }
  main .compra-proceso article .principal img {
    display: flex;
    width: 80vw;
    max-height: fit-content;
    padding-bottom: 100px;
    padding-top: 50px; }
  main .compra-proceso article .secundarias img {
    width: 27.5vw;
    gap: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black; }
  main .interes {
    display: flex;
    flex-direction: column; }
    main .interes article a img {
      width: 300px; }
  main .detalles-de-compra {
    width: 96%;
    max-width: 1600px;
    margin: 0 auto 20px;
    display: table;
    position: relative; }
    main .detalles-de-compra h1 {
      font-size: 20px;
      margin: 1px 1px; }
    main .detalles-de-compra table {
      width: 96%;
      margin: 20px 2%; }
      main .detalles-de-compra table thead {
        display: none; }
      main .detalles-de-compra table tr {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: end; }
      main .detalles-de-compra table tbody td {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid black;
        margin: 0 0 0 auto; }
        main .detalles-de-compra table tbody td .producto {
          display: none; }
      main .detalles-de-compra table tbody .producto-dos {
        display: flex;
        justify-content: center; }
        main .detalles-de-compra table tbody .producto-dos a img {
          width: 250px; }
      main .detalles-de-compra table tbody .vector-finaliza {
        display: flex;
        justify-content: center;
        border-bottom: none; }
    main .detalles-de-compra .detalles-final {
      width: 92%;
      margin: 10px 2%;
      padding: 10px 2%;
      border-left: none; }
  .interes {
    display: flex;
    text-align: center; }
    .interes a img {
      width: 18.75rem; }
    .interes article {
      border-bottom: 1px solid lightgrey; }
      .interes article h5 {
        font-size: large; }
      .interes article h3 {
        font-size: xx-large; }
  main {
    padding: 0px; }
    main .vertical-img-2 {
      display: none; }
    main .main .form .formulario label {
      width: 40%; } }

@media (max-width: 375px) {
  html {
    padding: 1px; }
    html body {
      width: 100% !important;
      overflow-x: hidden !important;
      padding: 1.5px; }
      html body header .navbar {
        padding: 0rem 0rem; }
        html body header .navbar .logo-sitio {
          width: 100%; }
          html body header .navbar .logo-sitio img {
            width: 20vw !important; }
        html body header .navbar .nav-fixed form {
          display: none !important; }
        html body header .navbar .nav-vicky .cuenta {
          display: none; }
        html body header .navbar .nav-vicky .carrito {
          display: none; }
        html body header .navbar .nav-vicky .container-fluid {
          width: auto;
          padding: 0px 0px 0px 0px; }
        html body header .navbar .nav-vicky .navbar-toggler-icon {
          width: 1rem;
          height: 1rem; }
      html body header .catalogo-section .catalogo {
        display: flex;
        padding-left: 0px;
        list-style: none;
        text-align: center;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: 11px; }
  footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    height: 80%;
    width: 100%;
    flex-wrap: nowrap; }
  .grid {
    padding: 0px; }
    .grid .banner-section {
      padding: 0px; }
      .grid .banner-section .carousel-inner {
        padding: 0px; }
      .grid .banner-section .banner {
        padding: 0% 0%; }
      .grid .banner-section .titile-novedades h1 {
        font-weight: 800;
        font-size: medium; }
      .grid .banner-section .novedades {
        display: grid;
        grid-template: repeat(1, 1fr)/repeat(2, 1fr);
        justify-items: center; }
        .grid .banner-section .novedades h3 {
          display: grid;
          justify-content: center;
          font-weight: 700;
          font-size: x-small;
          align-items: center; }
        .grid .banner-section .novedades img {
          display: grid;
          width: 95%;
          height: 55%;
          justify-content: center;
          align-items: center; }
  main .general-zapatillas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
    main .general-zapatillas .modelos {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      grid-gap: auto; }
      main .general-zapatillas .modelos img {
        width: 300px;
        margin: 1px; }
      main .general-zapatillas .modelos h3 {
        font-size: medium; }
      main .general-zapatillas .modelos h5 {
        font-size: small; }
    main .general-zapatillas .seleccion-talle .genero-talles {
      border-right: none; }
    main .general-zapatillas .seleccion-talle h1 {
      font-size: 25px; }
    main .general-zapatillas .seleccion-talle .vertical-img img {
      display: none; }
  main .paginas {
    display: flex;
    justify-content: center;
    align-self: center; }
  main .envio {
    justify-content: center;
    align-items: center;
    padding-top: 30px; }
    main .envio h1 {
      font-size: large; }
  main .info-envio {
    font-size: x-small;
    justify-content: center;
    align-items: center;
    text-align: center; }
    main .info-envio a {
      padding-bottom: 50px; }
      main .info-envio a button {
        width: 150px; }
  main .compra-proceso .articulo-compra {
    display: flex;
    flex-direction: column; }
  main .compra-proceso article .zapas-img {
    border-right: none; }
  main .compra-proceso article .principal img {
    display: flex;
    width: 80vw;
    max-height: fit-content;
    padding-bottom: 100px;
    padding-top: 50px; }
  main .compra-proceso article .secundarias img {
    width: 27.5vw;
    gap: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black; }
  main .interes {
    display: flex;
    flex-direction: column; }
    main .interes article a img {
      width: 300px; }
  main .detalles-de-compra {
    width: 96%;
    max-width: 1600px;
    margin: 0 auto 20px;
    display: table;
    position: relative; }
    main .detalles-de-compra h1 {
      font-size: 20px;
      margin: 1px 1px; }
    main .detalles-de-compra table {
      width: 96%;
      margin: 20px 2%; }
      main .detalles-de-compra table thead {
        display: none; }
      main .detalles-de-compra table tr {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: end; }
      main .detalles-de-compra table tbody td {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid black;
        margin: 0 0 0 auto; }
        main .detalles-de-compra table tbody td .producto {
          display: none; }
      main .detalles-de-compra table tbody .producto-dos {
        display: flex;
        justify-content: center; }
        main .detalles-de-compra table tbody .producto-dos a img {
          width: 250px; }
      main .detalles-de-compra table tbody .vector-finaliza {
        display: flex;
        justify-content: center;
        border-bottom: none; }
    main .detalles-de-compra .detalles-final {
      width: 92%;
      margin: 10px 2%;
      padding: 10px 2%;
      border-left: none; }
  .interes {
    display: flex;
    text-align: center; }
    .interes a img {
      width: 18.75rem; }
    .interes article {
      border-bottom: 1px solid lightgrey; }
      .interes article h5 {
        font-size: large; }
      .interes article h3 {
        font-size: xx-large; }
  main {
    padding: 0px; }
    main .vertical-img-2 {
      display: none; }
    main .main .form .formulario label {
      width: 40%; } }

@media (max-width: 320px) {
  html {
    padding: 1px; }
    html body {
      width: 100% !important;
      overflow-x: hidden !important;
      padding: 1.5px; }
      html body header .navbar {
        padding: 0rem 0rem; }
        html body header .navbar .logo-sitio {
          width: 100%; }
          html body header .navbar .logo-sitio img {
            width: 20vw !important; }
        html body header .navbar .nav-fixed form {
          display: none !important; }
        html body header .navbar .nav-vicky .cuenta {
          display: none; }
        html body header .navbar .nav-vicky .carrito {
          display: none; }
        html body header .navbar .nav-vicky .container-fluid {
          width: auto;
          padding: 0px 0px 0px 0px; }
        html body header .navbar .nav-vicky .navbar-toggler-icon {
          width: 1rem;
          height: 1rem; }
      html body header .catalogo-section .catalogo {
        display: flex;
        padding-left: 0px;
        list-style: none;
        text-align: center;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: 11px; }
  footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    height: 80%;
    width: 100%;
    flex-wrap: nowrap; }
  .grid {
    padding: 0px; }
    .grid .banner-section {
      padding: 0px; }
      .grid .banner-section .carousel-inner {
        padding: 0px; }
      .grid .banner-section .banner {
        padding: 0% 0%; }
      .grid .banner-section .titile-novedades h1 {
        font-weight: 800;
        font-size: medium; }
      .grid .banner-section .novedades {
        display: grid;
        grid-template: repeat(1, 1fr)/repeat(2, 1fr);
        justify-items: center; }
        .grid .banner-section .novedades h3 {
          display: grid;
          justify-content: center;
          font-weight: 700;
          font-size: x-small;
          align-items: center; }
        .grid .banner-section .novedades img {
          display: grid;
          width: 95%;
          height: 55%;
          justify-content: center;
          align-items: center; }
  main .general-zapatillas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
    main .general-zapatillas .modelos {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      grid-gap: auto; }
      main .general-zapatillas .modelos img {
        width: 300px;
        margin: 1px; }
      main .general-zapatillas .modelos h3 {
        font-size: medium; }
      main .general-zapatillas .modelos h5 {
        font-size: small; }
    main .general-zapatillas .seleccion-talle .genero-talles {
      border-right: none; }
    main .general-zapatillas .seleccion-talle h1 {
      font-size: 25px; }
    main .general-zapatillas .seleccion-talle .vertical-img img {
      display: none; }
  main .paginas {
    display: flex;
    justify-content: center;
    align-self: center; }
  main .envio {
    justify-content: center;
    align-items: center;
    padding-top: 30px; }
    main .envio h1 {
      font-size: large; }
  main .info-envio {
    font-size: x-small;
    justify-content: center;
    align-items: center;
    text-align: center; }
    main .info-envio a {
      padding-bottom: 50px; }
      main .info-envio a button {
        width: 150px; }
  main .compra-proceso .articulo-compra {
    display: flex;
    flex-direction: column; }
  main .compra-proceso article .zapas-img {
    border-right: none; }
  main .compra-proceso article .principal img {
    display: flex;
    width: 80vw;
    max-height: fit-content;
    padding-bottom: 100px;
    padding-top: 50px; }
  main .compra-proceso article .secundarias img {
    width: 27.5vw;
    gap: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black; }
  main .interes {
    display: flex;
    flex-direction: column; }
    main .interes article a img {
      width: 300px; }
  main .detalles-de-compra {
    width: 96%;
    max-width: 1600px;
    margin: 0 auto 20px;
    display: table;
    position: relative; }
    main .detalles-de-compra h1 {
      font-size: 20px;
      margin: 1px 1px; }
    main .detalles-de-compra table {
      width: 96%;
      margin: 20px 2%; }
      main .detalles-de-compra table thead {
        display: none; }
      main .detalles-de-compra table tr {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: end; }
      main .detalles-de-compra table tbody td {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid black;
        margin: 0 0 0 auto; }
        main .detalles-de-compra table tbody td .producto {
          display: none; }
      main .detalles-de-compra table tbody .producto-dos {
        display: flex;
        justify-content: center; }
        main .detalles-de-compra table tbody .producto-dos a img {
          width: 250px; }
      main .detalles-de-compra table tbody .vector-finaliza {
        display: flex;
        justify-content: center;
        border-bottom: none; }
    main .detalles-de-compra .detalles-final {
      width: 92%;
      margin: 10px 2%;
      padding: 10px 2%;
      border-left: none; }
  .interes {
    display: flex;
    text-align: center; }
    .interes a img {
      width: 18.75rem; }
    .interes article {
      border-bottom: 1px solid lightgrey; }
      .interes article h5 {
        font-size: large; }
      .interes article h3 {
        font-size: xx-large; }
  main {
    padding: 0px; }
    main .vertical-img-2 {
      display: none; }
    main .main .form .formulario label {
      width: 40%; } }
