footer{
    background-color: $colorFooter;
    color:$colorFooterLetras;
    border-radius: 20px;
    font-size: smaller;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    .info-coppy{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .info-empresa{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 1.5px;
            padding: 1.5px;
            li{
                display: flex;
                text-align: left;
                color: $colorFooterLetras;
                list-style: none;
                a{
                    display: flex;
                    text-align: left;
                    color: $colorFooterLetras;
                }
            }
        }
        .coppy{
            display: flex;
            justify-content: flex-start;
            margin: .0625rem;
            padding: .0625rem;
            padding-left: 0;
            h5{
                color:$colorFooterLetras;
                font-size: medium;
                font-weight: 400;
                justify-content: left;
            }
        }
    }
    .info{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin-left: auto;
        li{
            list-style: none;
            a{
                color:$colorFooterLetras;
            }
        }
        .info-general{
            display: flex;
            flex-direction: column-reverse;
            text-align: end;
        }
        .tarjetas{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: flex;
                list-style: none;
                display: inline;
                flex-direction: column-reverse;
            }
        }
    }
}