footer{
    background-color: $colorFooter;
    color:$colorFooterLetras;
    border-radius: 20px;
    font-size: smaller;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    .info-coppy{
        @include flex(column,flex-start,space-between,none,none,none,none,none,none);
        .info-empresa{
            @include flex(column,none,flex-start,1.5px,1.5px,none,none,none,none);
            li{
                display: flex;
                text-align: left;
                color: $colorFooterLetras;
                list-style: none;
                a{
                    display: flex;
                    text-align: left;
                    color: $colorFooterLetras;
                }
            }
        }
        .coppy{
            @include flex(none,none,flex-start,.0625rem,.0625rem,0,none,none,none);
            h5{
                color:$colorFooterLetras;
                font-size: medium;
                font-weight: 400;
                justify-content: left;
            }
        }
    }
    .info{
        @include flex(column-reverse,none,flex-end,none,none,none,none,none,auto);
        li{
            list-style: none;
            a{
                color:$colorFooterLetras;
            }
        }
        .info-general{
            @include flex(column-reverse,none,none,none,none,end,none,none,none);
        }
        .tarjetas{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: flex;
                list-style: none;
                display: inline;
                flex-direction: column-reverse;
            }
        }
    }
}