main{
    .banner{
        padding-top: 0px;
        padding-bottom: 7px;
        border-bottom: 1px solid black;
    }
    .main{
        padding-top: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom:25px ;
        .vertical-img-2{
            img{
                width: 40vw;
                height: auto;
                border: 2px solid black;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    h1{
        display: table;
        font-size: 30px;
        text-transform: uppercase;
        width: 100%;
    }
    h2{
        display: table;
        font-size: large;
        text-transform: uppercase;
        width: 100%;
    }
    .soporte{
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-top: 1px solid black;
        select{
            background-color: rgb(128, 18, 18);
            color: white;
            font-weight: bold;
            border-radius: 5px;
        }
    }
    section{
        .form{
            justify-content:space-between ;
            align-items: flex-start;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            max-width: 600px;
            .formulario{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: space-between;
                align-items: flex-start;
                height: 100%;
                max-width: 600px;
                h3{
                    font-size: x-large;
                }
                label{
                    width: 100%;
                    display: inline-block;
                    line-height: 14px;
                    font-size: 16px;
                    color: black;
                    font-weight: 600;
                }
                input{
                    padding: 2px;
                    height: auto;
                    width: 100%;
                    font-size: 16px;
                    border-color: rgb(232, 232, 232);
                    justify-content: center;
                }
                select{
                    border-color: rgb(232, 232, 232);
                    width: 100%;
                }
                textarea{
                    padding: 8px 0;
                    display: inline-block;
                    width: 100%;
                    font-size: 16px;
                    border-color: rgb(232, 232, 232);
                }
                .nombre{
                    display: flex;
                    width: 100%;
                    align-items: center;
                }
                .apellido{
                    @extend .nombre;
                }
                .mail{
                    @extend .nombre;
                }
                .telefono{
                    @extend .nombre;
                }
                .zona{
                    @extend .nombre;
                }
                .mensaje{
                    @extend .nombre;
                }
                .archivo{
                    @extend .nombre;
                }
                .txt-enviar{
                    width: 100%;
                }
                a{
                    width: 20%;
                    padding: 15px 0;
                    height: auto;
                    text-transform: uppercase;
                    cursor: pointer;
                    margin: 10px 0 10px 100%;
                }
            }
        }
    }
}