.grid{
    padding-top: 0px;
    .banner-section{
        padding-top: 0px;
        .banner{
            width: 100%;
            height: auto;
            object-fit: contain;
            background-size: cover;
            margin-top: 6px;
        }
        .title-novedades{
            display: flex;
            text-align: center;
            justify-content: center;
            border-bottom: 1px solid black;
            h1{
                font-weight: 700;
            }
        }
        .novedades{
            display: grid;
            grid-template: repeat(2,1fr) / repeat(3,1fr);
            justify-items: center;
            a {
                img{
                    display: grid;
                    width: 100%;
                    height: 60%;
                    justify-content: center;
                    border-bottom: 1px solid black;
                }
            }
            h3{
                display: grid;
                text-align: center;
                font-weight: 500;
            }
        }
    }
}