main{
    .compra-proceso{
        .articulo-compra{
            @include flex(none,none,center,none,none,none,none,none,none);
            .colores .colores-compra{
                display: flex;
                align-items: center;
                width: 100px;
            }
        }
        article{
            ul{
                padding-left: 0%;
                li{
                    list-style: none;
                }
            }
            .zapas-img{
                display: flex;
                flex-direction: column;
                height: fit-content;
                border-right: 1.5px solid black;
            }
            .principal{
                img{
                    display: flex;
                    width: 30vw;
                    max-height: fit-content;
                    padding-bottom: 100px;
                    padding-top: 50px;
                }
            }
            .secundarias{
                border-top: 1.5px solid black;
                img{
                    width: 10vw;
                    gap: 10px;
                    border-right: 1px solid black;
                }
            }
        }
        .info-compra{
            @include flex(column,none,none,none,none,none,none,none,none);
            select{
                font-size: small;
                width: 50px;
                height: fit-content;
            }
            h1{
                font-size: xx-large;
            }
            h2{
                font-size: 20px;
            }       
            ul{
                li{
                    display: flex;
                    flex-wrap: nowrap;
                }
            }
            .talles-compra{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        .interaccion{
            display: grid;
            a{
                width: 100%;
            }
        }
    }
    .tmb{
        h2{
            font-size: xx-large;
            font-weight: 500;
        }
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid black;
        }
    .interes{
        @include flex(row,none,space-around,none,none,none,none,none,none);
        h5{
            font-size: medium;
        }
    }
}