@media (max-width:426px){
    html{
        padding: 1px;
        body{
            width: 100%!important;
            overflow-x: hidden!important;
            padding: 1.5px;
            header{
                .navbar{
                    padding: 0rem 0rem;
                    .logo-sitio{
                        width: 100%;
                        img{
                            width: 20vw !important;
                        }
                    }
                    .nav-fixed{
                        form{
                            display: none !important;
                        }
                    }
                    .nav-vicky{
                        .cuenta{
                            display: none;
                        }
                        .carrito{
                            display: none;
                        }
                        .container-fluid{
                            width: auto;
                            padding: 0px 0px 0px 0px;
                        }
                        .navbar-toggler-icon{
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
                .catalogo-section{
                    .catalogo{
                        display: flex;
                        padding-left: 0px;
                        list-style: none;
                        text-align: center;
                        align-self: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 11px;
                    }
                }
            }
        }
    }
    footer{
        background-color: rgba(0, 0, 0, 0.9);
        color:white;
        border-radius: 15px;
        display: flex;
        justify-content: flex-end;
        height: 80%;
        width: 100%;
        flex-wrap: nowrap;
    }
    .grid{
        padding: 0px;
        .banner-section{
            .carousel-inner{
                padding: 0px;
                img{
                    height: 27vw;
                }
            }
            padding: 0px;
            .banner{
                padding: 0% 0%;
            }
            .titile-novedades{
                h1{
                    font-weight: 800;
                    font-size:medium;
                }
            }
            .novedades{
                display: grid;
                grid-template: repeat(1,1fr) / repeat(2,1fr);
                justify-items: center;
                h2{
                    display: grid;
                    justify-content: center;
                    font-weight: 600;
                    font-size: medium;
                    align-items: center;
                }
                img{
                    display: grid;
                    width: 95%;
                    height: 55%;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    main{
        .general-zapatillas{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            .modelos{
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                grid-gap: auto;
                img{
                    width: 300px;
                    margin: 1px;
                }
                h3{
                    font-size: medium;
                }
                h5{
                    font-size: small;
                }
            }
            .seleccion-talle{
                .genero-talles{
                    border-right: none;
                }
                h1{
                    font-size: 25px ;
                }
                .vertical-img{
                    img{
                        display: none;
                    }
                }
            }
        }
        .paginas{
            display: flex;
            justify-content: center;
            align-self: center;
        }
    }
    main{
        .envio{
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            h1{
                font-size: large;
            }
        }
        .info-envio{
            font-size: x-small;
            justify-content: center;
            align-items: center;
            text-align: center;
            a{
                padding-bottom: 50px;
                button{
                    width: 150px;
                }
            }
        }
    }
    main{
        .compra-proceso{
            .articulo-compra{
                display: flex;
                flex-direction: column;
            }
            article{
                .zapas-img{
                    border-right: none;
                }
                .principal{
                    img{
                        display: flex;
                        width: 80vw;
                        max-height: fit-content;
                        padding-bottom: 100px;
                        padding-top: 50px;
                    }
                }
                .secundarias{
                    img{
                        width: 27.5vw;
                        gap: 10px;
                        border-right: 1px solid black;
                        border-left: 1px solid black;
                    }
                }
            }
        }
        .interes{
            display: flex;
            flex-direction: column;
            article{
                a{
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }
    main{
        .detalles-de-compra{
            width: 96%;
            max-width: 1600px;
            margin: 0 auto 20px;
            display: table;
            position:relative;
            h1{
                font-size: 20px;
                margin: 1px 1px;
            }
            table{
                width: 96%;
                margin: 20px 2%;
                thead{
                    display: none;
                }
                tr{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: end;
                }
                tbody{
                    td{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: left;
                        padding: 10px 0;
                        border-bottom: 1px solid black;
                        margin: 0 0 0 auto;
                        .producto{
                            display: none;
                        }
                    }
                    .producto-dos{
                        display: flex;
                        justify-content: center;
                        a{
                            img{
                                width: 250px;
                            }
                        }
                    }
                    .vector-finaliza{
                        display: flex;
                        justify-content: center;
                        border-bottom: none;
                    }
                }
            }
            .detalles-final{
                width: 92%;
                margin: 10px 2%;
                padding: 10px 2%;
                border-left: none;
            }
        }
    }
    .interes{
        display: flex;
        text-align: center;
        a{
            img{
                width: 18.75rem;
            }
        }
        article{
            h5{
                font-size: large;
            }
            h3{
                font-size: xx-large;
            }
            border-bottom: 1px solid lightgrey;
        }
    }
    main{
        .carousel-inner{
            padding: 0px;
            img{
                height: 27vw;
            }
        }
        .vertical-img-2{
            display: none;
        }
        padding: 0px;
        .main{
            .form{
                .formulario{
                    label{
                        width: 40%;
                    }
                }
            }
        }
    }
}